.member_name
{
	font-weight:bold;
	font-size:22px; /*小標22px*/
	text-align:center;
}
.member_picture
{	
	text-align:center;
	margin:10px;
}
.menucountent
{
	width:1503px;
	height:536px;
	padding:10px;
}
.unit
{
	float:right;
}

#Nayeon
{
	
}